:root {
  --text: #2A2A25;
  --background: #CBC9AD;
  --searchBar: #dbdac7;
  --header: #979469;
  --header-hover: #696746;
  --button-click: #a19e6c;
}

body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
  color: var(--text);
}

.small {
  font-weight: 300;
  font-style: italic;
}
header, .header {
  height: 7em;
  background-color: var(--background);
  padding-left: 1em;
  padding-top: 1px;
}
header > * {
  position: relative;
  top: -10%;
}
footer {
  background-color: var(--background);
  font-size: 1.15em;
  text-align: center;
  color: var(--text);
}

.searchBar {
  width: 20rem;
  background-color:var(--searchBar);
  border: none;
  padding: 0.75rem; 
  border-radius: 1em;
  margin: .5em;
  display: inline-flex;
  width: 30%;
  position: relative;
  left: 12%;
}

.navbar {
  display: flex;
  justify-content: right;
  padding: 0;
}

.navbar .mx-1 a {
  padding-right: 3em;
  color: var(--header-hover);
}

.navbar a:hover {
  filter: brightness(1) invert(0) sepia(1) 
  hue-rotate(30deg) 
  saturate(10);
}

.mx-1 {
  list-style: none;
}

.mx-2 {
  font-weight: 500;
}

.flex-row h1 {
  display: flex;
  margin-top: 1em;
}

.flex-row h1 a {
  color: var(--header);
}

.flex-row h1 a:hover {
  color: var(--header-hover);
  text-decoration: none;
}
a:hover .trashcan{
  filter: brightness(1) invert(0) sepia(1) 
  hue-rotate(2deg) 
  saturate(10);
  box-shadow: 0px 0px 25px #fff;
  border-radius: 15px;
  list-style: none;
  text-decoration: none;
}

.container .flex-row {
  display: inline-flex;
  flex-wrap: wrap;
}

.card {
  width: 40%;
  margin: .5em;
  border-radius: 1em;
  align-items: center;
}

.card div {
  text-align: center;
}

.price {
  font-size: 4em;
  color: var(--header);
}

.cartbtn {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  border-radius: .75em;
}

.cartbtn:hover {
  background-color: var(--background);
}

.cartbtn:active {
  background-color: var(--header);
}